@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: red;
    width: 20vw;
    font-family: 'Merriweather', serif;
}
.main
{
    background-color: blue;
    width: 80vw;
    font-family: 'Merriweather', serif;
}
.container{
    display: flex;
}