
.nav-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  
}

.nav-list li {
 display: inline;
 margin: 0 15px;

}

.nav-list li a{
text-decoration: none;
color: rgba(1, 1, 1, 0.8);


}

.main{
  margin-top: 100px;
  text-decoration: solid;
 
}